/* general */

* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* frame and background */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}